<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="areaFragment (user, categories)" class="area">
  <input type="hidden" th:value="${user.getId()}">

  <div class="area-item">All</div>
  <div class="area-item" th:text="${user.getUid()}"></div>

  <!--category list-->
  <select name="categories" id="categories">
    <option th:each="category : ${categories}"
            th:value="${category.getId()}"
            th:text="${category.getName()}">
    </option>
  </select>
</div>

</html>