<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment (user=null)" class="header navbar-fixed-top">
    <!--Logo & Home-->
    <div id="nav_logo">
        <img src="/images/notebook.svg" alt="" width="40px">
        <a href="/">Mini Blog</a>
    </div>
    <!--search-->

    <!--ctrl-->
    <div id="nav_ctrl">
        <div id="nav_search">
            <input type="text" name="" id="wef" placeholder="search something">
            <input type="button" value="search">
        </div>

        <!--user is logged out-->
        <div th:if="${user == null}"><a href="/users/login">Login</a></div>
        <!--user is logged in-->
        <div th:if="${user != null}"><a href="/info-setting">Set-Info</a></div>
        <div th:if="${user != null}"><a href="#" id="newCategoryBtn">Add-Category</a></div>
        <div th:if="${user != null}"><a id="btn_logout" href="/user/logout">Logout</a></div>
<!--        <div><img src="/file/get-profile" alt="profile_img" id="profile_img"></div>-->
    </div>
</header>
</html>