.area {
    display: flex;
    justify-content: center;
    align-content: center;
}

.area > .area-item{
    /*font*/
    font-size: 16px;
    font-weight: bold;

    margin: 3px;
    padding: 3px;
}

.area > select {

    text-decoration: none;
    border: none;

    /*font*/
    font-family: inherit; /* 기본 글꼴로 상속 */
    font-size: inherit; /* 기본 글꼴 크기로 상속 */
    font-weight: bold;
    color: inherit; /* 기본 글꼴 색상으로 상속 */

    margin: 3px;
    padding-bottom: 2px;
}

.area > .area-item:hover {
    cursor: pointer;
}

.area > #selected {
    border-bottom: 2px solid #5595d3;
}