header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 70px;

    margin-left: 70px;
    margin-right: 70px;
}

header a{
    text-decoration: none;
    color: black;
}

header > #nav_logo{
    display: flex;
    flex: 3;
    justify-content: left;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    /*margin-left: 20px;*/
}

header > #nav_ctrl{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 2px solid #5595d3;

    /*font*/
    font-weight: bold;
    font-size: 16px;
    color: #5595d3;


    /*align*/
    align-items: center;
    justify-content: center;
}

header > #nav_ctrl > div{
    margin: 3px;
}