<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="css/index-style.css">
    <link rel="stylesheet" href="css/modal.css">
    <script src="https://kit.fontawesome.com/1155edaf9c.js" crossorigin="anonymous"></script>
<head>
<script src="../static/js/index/note-gallery.js"></script>
<body>

<!--header.html-->
<!--<header th:replace="fragments/header::headerFragment"></header>-->

<header id="nav">
<!--    logo-->
    <div id="nav_logo">
        <img src="/images/notebook.svg" alt="" width="40px">
        <a href="/">Note App</a>
    </div>
<!--    search-->

<!--    ctrl-->
    <div id="nav_ctrl" th:if="${user!=null}">
<!--        <div id="nav_search">-->
<!--            <input type="text" name="" id="wef" placeholder="search something">-->
<!--            <input type="button" value="search">-->
<!--        </div>-->
        <div><a href="/info-setting">set info</a></div>
        <div><a href="#" id="newCategoryBtn">add category</a></div>
        <div><a th:if="${user!=null}" id="btn_logout" href="/user/logout">logout</a></div>
        <div><img src="/file/get-profile" alt="profile_img" id="profile_img"></div>
    </div>
</header>

<section class="sign-in-container" th:if="${user}==null">
    <div class="sign-in">
<!--        <div class="login_logo">SIGN IN</div>-->
<!--        <form id="sign-form" action="/members/login" method="post">-->
            <input id="form-id" type="text" name="uid" placeholder="INPUT ID">
            <input id="form-pw" type="password" name="pwd" placeholder="INPUT PW">
            <input id="btn-sign-in" type="button" value="SIGN IN">
<!--        </form>-->
        <a href="/sign-up">SIGN UP</a>

    </div>
</section>

<section th:unless="${user}==null">
    <section class="container" th:each="category : ${categories}">
        <section id="TIL" class="slide-container">
<!--            <div class="slide-title">🌈 TIL</div>-->
            <div class="slide-top">
                <div class="slide-title" th:contenteditable="true" th:text="${category.getName()}" th:data-id="${category.getId()}">category</div>
                <a th:href="'/post/delete-category?id='+${category.getId()}" class="slide-trash"><i class="fas fa-trash" style="color: #e71c1c; font-size: 25px;"></i></a>
            </div>
            <div class="slide">
                <div class="item-list">
                    <div class="item new-item" id="new-post">
                        <input type="hidden" name="category" th:value="${category.getId()}">
                        <i class="fa-solid fa-circle-plus"></i>

                    </div>

                    <div class="item post" th:each="n : ${groupedNoticeListMap.get(category)}">
                        <input type="hidden" th:value="${n.getId()}">
                        <div class="note-top">
                            <div>
                                <div th:text="${n.getDate()}" style="font-weight: bold; font-size: 19px; text-align: left; display: inline-block"></div>
                                <input class="btn_edit_or_save" type="button" value="edit">
                            </div>
                            <a th:href="'/post/delete?id=' + ${n.getId()}">
                                <i class="fas fa-trash" style="color: #e71c1c; font-size: 20px; position: relative; left:0"></i>
                            </a>
                        </div>
<!--                        <div th:class="${category.getId()} + ' edit-box'" th:data-id="${n.getId()}" th:text="${n.getContent()}"></div>-->
                        <div class="content" th:text="${n.getContent()}">
                        </div>

                        <div class="editor">
                            <textarea th:class="${category.getId()} + ' edit-box'" th:data-id="${n.getId()}" th:text="${n.getContent()}"></textarea>
                            <div class="target"></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<!--<input type="button" id="modalBtn" value="Open Modal">-->
<!--<a id="modalBtn" href="" style="font-size:22px; color: black"></a>-->
<!--modal for adding new category -->
<section th:if="${user!=null}">
<!--    <button id="modalBtn" style="font-size: 25px; margin:10px;"><i class="fas fa-plus-circle"></i></button>-->
    <div id="myModal" class="modal">
        <form action="/post/add-category" method="post">
            <div class="modal-content">
                <input id="category_input" type="text" name="category" placeholder="Input Category Name">
                <span class="close">&times;</span>
                <input id="category_submit" type="submit" value="create">
            </div>
        </form>
        <!-- Modal content -->
    </div>
</section>



<!--github link-->
<!--<footer>-->
<!--    <div>-->
<!--        <a href="https://github.com/jun112465/studyHelper" style="font-size:52px; color: white; margin-top: 0px;"><i class="fab fa-github"></i></a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <div>-->
<!--            Gmail : ktop101777@gmail.com-->
<!--        </div>-->
<!--        <div>-->
<!--            Phone : 010-7670-xxxx-->
<!--        </div>-->
<!--        <div>-->
<!--            Blog : https://velog.io/@jun112465-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--<div th:replace="/fragments/postList::postList"></div>-->
<!--<div th:replace="/fragments/footer::copy"></div>-->


</body>
<!--</section>-->
<!--html to md-->
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>
<!--md to html-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/index/modal.js"></script>
<script src="/js/index/timer.js"></script>
<script src="/js/index/test.js">
</script>
<!--<script src="./js/index/slides.js">-->
<!--    console.log("slideIndex")-->
<!--    console.log(slideIndex)-->
<!--</script>-->
<script src="./js/index/note-gallery.js"></script>




<script th:inline="javascript">
    /*![CDATA[*/

    // html로 치환
    let edits = document.getElementsByClassName("edit-box");
    let converter = new showdown.Converter()
    let turndownService = new TurndownService()
    let target = document.getElementsByClassName("target")
    let contents = document.getElementsByClassName("content")

    for(let i=0; i<contents.length; i++){
        contents[i].innerHTML = converter.makeHtml(contents[i].textContent)
    }

    for (let i=0; i<edits.length; i++){
        console.log(edits[i].textContent)
        console.log(converter.makeHtml(edits[i].textContent))
        new_html = converter.makeHtml(edits[i].textContent)
        target[i].innerHTML = new_html
        // edits[i].innerHTML = new_html
    }

    /*]]>*/
</script>
</html>