<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:input="http://www.w3.org/1999/html">
<head>
  <title>Mini Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!--common-->
  <style>
    body{
      min-width: 800px;
    }
  </style>
  <!-- header Css File -->
  <link rel="stylesheet" href="/css/header.css">
  <!-- Awesome-Font -->
  <script src="https://kit.fontawesome.com/1155edaf9c.js" crossorigin="anonymous"></script>

  <!-- postList Css File-->
  <link rel="stylesheet" href="/css/postList.css">
  <!-- area Css File-->
  <link rel="stylesheet" href="/css/area.css">

</head>
<body>

<div th:replace="/fragments/header::headerFragment(${user})"></div>
<div th:if="${user!=null}">
  <div th:replace="/fragments/area::areaFragment(${user})"></div>
</div>
</div>
<div th:replace="/fragments/postList::postList(${posts}, 'allPostList')"></div>
<div th:if="${user!=null}">
  <div th:replace="/fragments/postList::postList(${userPosts}, 'userPostList')"></div>
</div>
<div> footer </div>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.0/showdown.min.js"></script>
<script src="/js/area.js"></script>
<script src="/js/postList.js"></script>

<!--html to markdown-->
<!--<script src="https://unpkg.com/turndown/dist/turndown.js"></script>-->
<!--<script src="./js/index/note-gallery.js"></script>-->

</html>