<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="css/signUpPage.css">
</head>
<body>
<div th:replace="/fragments/header::headerFragment(${null})"></div>

<section class="sign-in-container">
    <div class="sign-in">
        <div id="sign-form">
            <input type="text" name="uid" placeholder="INPUT ID" id="form-id">
            <input type="password" name="password" placeholder="INPUT PW" id="form-pw">
            <input id="btn-sign-up" type="button" value="SIGN UP">
            <div class="error-msg-box">
                <div style="color:red" id="error-msg"></div>
            </div>
        </div>
    </div>
</section>
<script src="/js/header.js"></script>
<script src="/js/signUp.js"></script>
</body>
</html>