<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="css/index-style.css">
<head>
<body>

<h1>
    Note
</h1>

<section th:if="${user}==null" class="login">
    <form action="/members/login" method="post">
        <input type="text" name="memberId" placeholder="input ID">
        <input type="password" name="password" placeholder="input PW">

        <div>
            <input type="submit" value="로그인">
            <a href=""><input type="button" value="회원가입"></a>
        </div>
    </form>

    <!--    로그인 실패 시 에러메세지-->
    <div th:if="${errorMsg} == 'No Member Found'">
        <div th:text="${errorMsg}"></div>
    </div>
</section>

<section th:unless="${user}==null" class="gallery">

    <a href="/members/logout">로그아웃</a>

    <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>

</section>

</body>
</html>