<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="css/index-style.css">
    <script src="https://kit.fontawesome.com/1155edaf9c.js" crossorigin="anonymous"></script>
<head>
<body>

<h1>
    Note
</h1>

<section th:if="${user}==null" class="login">
    <form action="/members/login" method="post">
        <input type="text" name="memberId" placeholder="input ID">
        <input type="password" name="password" placeholder="input PW">

        <div>
            <input type="submit" value="로그인">
            <a href=""><input type="button" value="회원가입"></a>
        </div>
    </form>

    <!--    로그인 실패 시 에러메세지-->
    <div th:if="${errorMsg} == 'No Member Found'">
        <div th:text="${errorMsg}"></div>
    </div>
</section>

<section th:unless="${user}==null" class="container">
    <a href="/members/logout">로그아웃</a>



    <div class="gallery-container">
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

        <div class="gallery">
            <div class="item new-item" id="new-notice">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="item" th:each="n : ${noticeList}">
                <input type="hidden" th:value="${n.getId()}">
                <div th:text="${n.getDate()}"></div>
                <div class="edit-box" th:text="${n.getContent()}"></div>
                <div th></div>
            </div>
        </div>


        <div class="gallery">

            <div class="item" id="search-group">
                <input type="text" placeholder="Found Groups">
                <input type="button" value="search">
            </div>

            <div class="item" id="new-group">
                <form action="/group/add-group" method="post">
                    <input id="input-group-name" name="groupName" type="text" placeholder="group name">
                    <input type="submit" value="create">
                </form>
            </div>

            <div class="item" th:each="g : ${groupList}">
                <input type="hidden" th:value="${g.getId()}">
                <div th:text="${g.getName()}"></div>
<!--                <div class="edit-box" th:text="${n.getContent()}"></div>-->
<!--                <div th></div>-->
            </div>
        </div>


        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

</section>


<script>
    // javascript for gallery slide

    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("gallery");
        // let dots = document.getElementsByClassName("demo");
        // let captionText = document.getElementById("caption");

        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        // for (i = 0; i < dots.length; i++) {
        //     dots[i].className = dots[i].className.replace(" active", "");
        // }
        slides[slideIndex-1].style.display = "grid";
        // dots[slideIndex-1].className += " active";
        // captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>




<script th:inline="javascript">
    /*![CDATA[*/
    newNotice = document.getElementById("new-notice")
    newNotice.addEventListener('click', ()=>{
        createItem().then((value)=>{
            if(value){
                alert("노트가 생성됐습니다.")
            }else{
                alert("이미 생성된 노트가 있습니다.")
            }
        })
    })

    createItem = async ()=>{
        let memberId = document.cookie.split(';')
            .find(row => row.startsWith('memberId'))
            .split('=')[1];

        const resp = await fetch("/notice/add-note", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ 'memberId' : memberId })
        }).then(result => result.json())
            .then(data => data)

        return resp;
    }

    //date format function
    function dateFormat(date) {
        let month = date.getMonth() + 1;
        let day = date.getDate();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;

        return date.getFullYear() + '-' + month + '-' + day;
    }

    //set contentEditable
    let itemList = document.getElementsByClassName("item");
    if (itemList[1].children[1].innerHTML == dateFormat(new Date())){
        editBox = document.getElementsByClassName("edit-box")[0];
        editBox.setAttribute("contenteditable", "true");
        editBox.addEventListener("input", ()=>{
            fetch("/notice/update", {
                method: "Post",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    'id' : itemList[1].children[0].value,
                    'memberId' : '',
                    'content' : editBox.innerHTML,
                    'date' : ''
                })
            })
        })
    }

    // 각 notice 내부 String 값을 html 로 치환
    let editBoxList = document.getElementsByClassName("edit-box");
    let noticeList = /*[[${noticeList}]]*/;
    for(let i=0; i<editBoxList.length; i++){
        editBoxList[i].innerHTML = noticeList[i].content;
    }

    console.log(noticeList);


    // find group
    let searchGroup = document.getElementById("search-group");
    searchGroup.children[1].addEventListener('click', ()=>{
        let searchValue = searchGroup.children[0].value
        fetch("/group/find-group", {
            method: "Post",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                'id': searchValue,
                'name': searchValue
            })
        }).then(result => {
            console.log(result.json())
        })
    })


    /*]]>*/
</script>

</body>
</html>